name: Dockerize

on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'
  pull_request:
    paths:
      - 'webiz-app/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Determine Docker tag
      run: |
        if [[ $GITHUB_REF == refs/heads/master ]]; then
          echo "DOCKER_TAG=latest" >> $GITHUB_ENV
        elif [[ $GITHUB_REF == refs/tags/v*.*.* ]]; then
          echo "DOCKER_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
        fi

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        push: ${{ github.event_name == 'push' }}
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ secrets.DOCKER_HUB_REPO }}:${{ env.DOCKER_TAG }}